* {
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
/* p {
    text-indent: 2em;
} */
body {
    background-color: #1B2141;
}
#blog {
    position: relative;
    padding: 30px 0 0 50px;
}
.inner1 {
    width: 800px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 50px auto;
    padding: 10px;
    overflow: hidden;
}
#girl {
    position: fixed;
    top: 170px;
    right: 0;
    width: 300px;
    height: 450px;
    overflow: hidden;
}
#girl img {
    width: 930px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.top {
    color: #eee;
}
.inner-ul li {
    line-height: 30px;
    margin-bottom: 10px;
}
.inner-ul li span {
    font-weight: 700;
}
.inner2 {
    width: 800px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 50px auto;
    padding: 10px;
}
